.container {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    padding: 0 40px;
  }
}

.mainLayout {
  width: 100%;
}
